//====================================================================================================
.hero {
	position: relative;
	background-color: var(--bgColorDark); /* fallback for old browsers */
	@include adaptiveValue("padding-top", 320, 140);
	padding-bottom: rem(30);
	margin-bottom: rem(10);
	// .hero__container
	&__container {
	}
	// .hero__heading
	&__heading {
	}
}
//====================================================================================================
.portfolio {
	padding-top: rem(10);
	@include adaptiveValue("padding-bottom", 80, 20);
	// .portfolio__container
	&__container {
	}
	// .portfolio__content
	&__content {
	}
	// .portfolio__title
	&__title {
		text-align: center;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 20);
		}
	}
	// .portfolio__items
	&__items {
		display: grid;

		column-gap: rem(20);
		row-gap: rem(30);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 40, 20);
		}

		@media (min-width: $mobileSmall) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $mobile) {
			grid-template-columns: repeat(3, 1fr);
		}
		@media (min-width: em(991)) {
			grid-template-columns: repeat(4, 1fr);
		}
	}
	// .portfolio__item
	&__item {
		position: relative;
		background-color: var(--bgColorDark);
		overflow: hidden;
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: -50%;
			left: -50%;
			width: 284px;
			height: 424px;
			background: var(--backgroundGradientCardAnimate);
			transform-origin: bottom right;
			animation: animate 6s linear infinite;
			@keyframes animate {
				0% {
					transform: rotate(0deg);
				}
				100% {
					transform: rotate(360deg);
				}
			}
		}
		&::after {
			animation-delay: -3s;
		}
	}
	// .portfolio__animate
	&__animate {
	}
	// .portfolio__page
	&__page {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
//========================================================================================================================================================
