//====================================================================================================
.hero {
	position: relative;
	background-color: var(--bgColorDark); /* fallback for old browsers */
	@include adaptiveValue("padding-top", 180, 140);
	padding-bottom: rem(30);
	margin-bottom: rem(100);
	// .hero__container
	&__container {
		position: relative;
		z-index: 10;
		&::before,
		&::after {
			content: "";
			position: absolute;
			font-family: "LaBelleAurore", cursive;
			font-size: rem(18);
			opacity: 0.3;
		}
		&::before {
			content: "<html>";
			top: -18%;
			left: 5px;
		}
		&::after {
			content: "<body>";
			top: -13%;
			left: 32px;
		}
	}
	// .hero__body
	&__body {
	}
	// .hero__heading
	&__heading {
		display: flex;
		flex-direction: column;
		row-gap: rem(30);
		margin-bottom: 80px;
	}
}
.heading {
	// .heading__label
	&__label {
		position: relative;
		&::before,
		&::after {
			content: "";
			position: absolute;
			font-family: "LaBelleAurore", cursive;
			font-size: rem(18);
			opacity: 0.3;
			font-weight: 400;
		}
		&::before {
			content: "<h1>";
			margin-top: -8px;
			left: -30px;
		}
		&::after {
			content: "</h1>";
			@include adaptiveValue("margin-left", 20, 5);
			@include adaptiveValue("margin-top", 100, 40);
		}
	}
	// .heading__value
	&__value {
	}
	// .heading__sub-text
	&__sub-text {
	}
}
//====================================================================================================
.portfolio {
	padding-top: rem(10);
	@include adaptiveValue("margin-bottom", 80, 20);
	// .portfolio__container
	&__container {
		position: relative;
		&::before,
		&::after {
			content: "";
			position: absolute;
			font-family: "LaBelleAurore", cursive;
			font-size: rem(20);

			opacity: 0.3;
		}
		&::before {
			content: "<section>";
			top: -44px;
			left: 10px;
			@media (max-width: $mobileSmall) {
				top: -40px;
			}
		}
		&::after {
			content: "</section>";
			bottom: -70px;
			left: 18px;
		}
	}
	// .portfolio__content
	&__content {
	}
	// .portfolio__title
	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 80, 45);
		}
	}
	// .portfolio__items
	&__items {
		display: grid;
		column-gap: rem(20);
		row-gap: rem(30);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 80, 45);
		}

		@media (min-width: $mobileSmall) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $mobile) {
			grid-template-columns: repeat(3, 1fr);
		}
	}
	// .portfolio__item
	&__item {
	}
	// .portfolio__page
	&__page {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.title {
	// .title__label
	&__label {
	}
	// .title__value
	&__value {
	}
}
.label {
	// .label__pop
	&__pop {
		// .label__pop_mr
		&_mr {
		}
	}
}

.block-btn {
	// .block-btn__link
	&__link {
	}
}

//========================================================================================================================================================
.page {
	// .page__skills
	&__skills {
	}
}
.skills {
	// .skills__container
	&__container {
	}
	// .skills__body
	&__body {
		display: grid;
		grid-template-columns: 1fr 2fr;
		@media (max-width: $mobile) {
			grid-template-columns: 1fr;
		}
	}
	// .skills__canvas
	&__canvas {
	}
}
