//====================================================================================================
.hero {
	position: relative;
	background-color: var(--bgColorDark); /* fallback for old browsers */
	@include adaptiveValue("padding-top", 180, 140);
	padding-bottom: rem(30);
	margin-bottom: rem(40);
	// .hero__container
	&__container {
		position: relative;
		z-index: 10;
		&::before,
		&::after {
			content: "";
			position: absolute;
			font-family: "LaBelleAurore", cursive;
			font-size: rem(18);
			opacity: 0.3;
		}
		&::before {
			content: "<html>";
			top: -18%;
			left: 5px;
		}
		&::after {
			content: "<body>";
			top: -13%;

			left: 32px;
		}
	}
	// .hero__body
	&__body {
	}
	// .hero__heading
	&__heading {
		display: flex;
		flex-direction: column;
		row-gap: rem(30);
		margin-bottom: 80px;
	}
}
.heading {
	// .heading__label
	&__label {
		position: relative;
		&::before,
		&::after {
			content: "";
			position: absolute;
			font-family: "LaBelleAurore", cursive;
			font-size: rem(18);
			opacity: 0.3;
			font-weight: 400;
		}
		&::before {
			content: "<h1>";
			margin-top: -8px;
			left: -30px;
		}
		&::after {
			content: "</h1>";
			@include adaptiveValue("margin-left", 20, 5);
			@include adaptiveValue("margin-top", 100, 40);
		}
	}
	// .heading__value
	&__value {
	}
	// .heading__sub-text
	&__sub-text {
	}
}

//====================================================================================================
.portfolio {
	padding-top: rem(10);
	@include adaptiveValue("padding-bottom", 80, 20);
	// .portfolio__container
	&__container {
	}
	// .portfolio__content
	&__content {
	}
	// .portfolio__title
	&__title {
		text-align: center;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 20);
		}
	}
	// .portfolio__items
	&__items {
		display: grid;

		column-gap: rem(20);
		row-gap: rem(30);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 40, 20);
		}

		@media (min-width: $mobileSmall) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $mobile) {
			grid-template-columns: repeat(3, 1fr);
		}
		@media (min-width: em(991)) {
			grid-template-columns: repeat(4, 1fr);
		}
	}
	// .portfolio__item
	&__item {
		position: relative;
		background-color: var(--bgColorDark);
		overflow: hidden;
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: -50%;
			left: -50%;
			width: 284px;
			height: 424px;
			background: var(--backgroundGradientCardAnimate);
			transform-origin: bottom right;
			animation: animate 6s linear infinite;
			@keyframes animate {
				0% {
					transform: rotate(0deg);
				}
				100% {
					transform: rotate(360deg);
				}
			}
		}
		&::after {
			animation-delay: -3s;
		}
	}
	// .portfolio__animate
	&__animate {
	}
	// .portfolio__page
	&__page {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
//========================================================================================================================================================
