//========================================================================================================================================================
.all-portfolio {
	@include adaptiveValue("padding-top", 180, 120);
	// .all-portfolio__container
	&__container {
	}
}
.tab-active {
	//color: var(--hoverColorLink);
	// .tab-active__filters
	&__filters {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 60, 30);
		}
	}
}
.list {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	row-gap: rem(20);
	@include adaptiveValue("column-gap", 50, 25, 0, 1170, 991);
	cursor: pointer;
	@media (max-width: $mobileSmall) {
		flex-direction: column;
	}

	// .list__item
	&__item {
		text-transform: uppercase;
		font-weight: 500;
		font-size: rem(18);
		padding: 5px;

		&.tab-active {
			color: var(--hoverColorLink);
		}
	}
}
.portfolio {
	// .portfolio__items
	&__items {
	}
	// .portfolio__item
	&__item {
		// .portfolio__item_page
		&_page {
			opacity: 0;
			transform: translate(-10%, 10%);
			&._watcher-view {
				opacity: 1;
				transform: translate(0%, 0%);
				transition: all 0.5s ease;
			}
		}
	}
}
